/* Styles specific to this workshop
------------------------------------*/
.heading-bg.connected .light {
  margin-bottom: 4px;
}

.heading-bg.connected .light:last-child {
  margin-left: 0;
  margin-top: 0;
}